<a href="https://colab.research.google.com/github/AndreaMorbello/Progetto-IA2/blob/main/Notebooks/Notebook-IA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook Progetto Baseline

## 1. Introduzione al Progetto

### 1.1. Obiettivo del Modello

L'obiettivo di questo progetto è sviluppare un modello di regressione in grado di stimare il punteggio ELO del giocatore con i pezzi bianchi a partire da feature estratte da una singola partita.
Questo modello, denominato modello baseline, sarà successivamente confrontato con un secondo modello ... [DA COMPLETARE]

### 1.2. Limiti del Modello

**A. Rumore nei dati**

Questo modello stima il punteggio ELO di un giocatore utilizzando esclusivamente dati provenienti da una singola partita. Poiché la performance in una singola partita può variare significativamente rispetto al livello medio del giocatore (a causa di fattori quali concentrazione, forma del giorno, errori occasionali, o scelte strategiche particolari), stiamo di fatto lavorando con un campione altamente rumoroso dell'abilità reale del giocatore. Inoltre, il modello baseline utilizza feature non direttamente indicative della qualità del gioco (come vedremo nella sezione delle feature).

Per questi motivi, non ci aspettiamo un modello estremamente preciso e valuteremo criticamente eventuali metriche di accuratezza eccessivamente elevate, che potrebbero indicare overfitting o altre problematiche.

**B. Importanza delle feature e information leakage**

Tra le feature utilizzate (presentate nel punto 1.4 e successivamente selezionate nella sezione 2.1/b), ce n'è una chiaramente più informativa delle altre: `black_rating`. Questo deriva dal meccanismo di matchmaking utilizzato dai siti di scacchi online, che tendono ad accoppiare giocatori con punteggi ELO simili per garantire partite equilibrate.
(Questo non è vero universalmente, all'interno di tornei o partite amichevoli questa regola può non valere).

Di conseguenza, il modello avrà inevitabilmente una struttura approssimabile a:

**white_rating ≈ black_rating ± f(altre feature)**

dove f rappresenta una funzione correttiva basata sulle altre feature disponibili. Questa situazione rappresenta un caso di information leakage parzialmente controllato: `black_rating` contiene informazioni altamente correlate con il target, ma non lo determina completamente, lasciando spazio alle altre feature per catturare le differenze individuali e contestuali.

**C. Partite classificate vs non classificate**

È ragionevole ipotizzare che la performance del modello possa essere inferiore per le partite non classificate (rated=False), ovvero quelle che non influenzano il punteggio ELO dei giocatori. Il motivo è che molti giocatori potrebbero affrontare queste partite con minore serietà o utilizzarle per sperimentare strategie non convenzionali, dato che un'eventuale sconfitta non avrebbe conseguenze sul loro rating ufficiale.

Questa ipotesi potrà essere verificata attraverso un'analisi comparativa delle performance del modello sui due sottoinsiemi di dati.

### 1.3. Note sul Target

Il target del modello, `white_rating`, rappresenta il punteggio ELO del giocatore che conduce i pezzi bianchi. Il sistema ELO (https://it.wikipedia.org/wiki/Elo_(scacchi)) è un metodo per calcolare il livello relativo di abilità dei giocatori in giochi a due giocatori a somma zero, come gli scacchi.

**Aspetto temporale cruciale**: È fondamentale specificare che `white_rating` si riferisce al punteggio che il giocatore possedeva immediatamente prima dell'inizio della partita, non dopo la sua conclusione. Nelle partite classificate (rated=True), il punteggio ELO viene aggiornato al termine della partita in base a:
- Il rating pre-partita di entrambi i giocatori
- Il risultato effettivo della partita
- Il risultato atteso (calcolato dalla differenza di rating)
- Altri parametri come il fattore K (che dipende dal numero di partite giocate)

Il nostro obiettivo non è invertire l'algoritmo di calcolo del punteggio ELO, bensì utilizzare tale punteggio come proxy (approssimatore imperfetto ma ragionevole) del livello di abilità scacchistica del giocatore in quel momento specifico.

### 1.4. Presentazione del Dataset

Il dataset utilizzato proviene da Kaggle ed è disponibile al seguente indirizzo:
https://www.kaggle.com/datasets/datasnaek/chess

Il dataset originale contiene 20.058 partite di scacchi disputate sulla piattaforma Lichess. Ogni partita è descritta dalle seguenti variabili:

- **id**: Stringa alfanumerica identificativa univoca della partita
- **rated**: Variabile booleana che indica se la partita è classificata (True) e quindi influenza il rating ELO dei giocatori, oppure non classificata (False)
- **created_at**: Timestamp di inizio della partita in formato Unix time
- **last_move_at**: Timestamp di conclusione della partita in formato Unix time
- **turns**: Numero di turni completi, dove ogni turno è definito come una coppia di mosse (bianco-nero)
- **victory_status**: Modalità di conclusione della partita (scacco matto, abbandono, tempo esaurito, stallo, ecc.)
- **winner**: Colore del giocatore vincente (white, black) o draw in caso di patta
- **increment_code**: Formato temporale della partita espresso come "minuti iniziali+secondi di incremento per mossa" (es. "10+0" indica 10 minuti per giocatore senza incremento)
- **white_id**: Nome utente del giocatore con i pezzi bianchi
- **white_rating**: Punteggio ELO del giocatore bianco (pre-partita)
- **black_id**: Nome utente del giocatore con i pezzi neri
- **black_rating**: Punteggio ELO del giocatore nero (pre-partita)
- **moves**: Sequenza completa delle mosse della partita in notazione algebrica standard (SAN - Standard Algebraic Notation)
- **opening_eco**: Codice di classificazione dell'apertura secondo l'Encyclopaedia of Chess Openings (ECO)
- **opening_name**: Nome descrittivo dell'apertura utilizzata
- **opening_ply**: Numero di ply (mezze-mosse) che costituiscono la fase di apertura classificata della partita


### 1.5. Importazione del Dataset

In [2]:
###INSERIRE CODICE PER IMPORTAZIONE

In [3]:
## Quando ultimeremo il codice sarebbe meglio non fare montare il drive.

import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

df=pd.read_csv("/content/drive/MyDrive/games.csv")
df_originale = df.copy() # Salviamo una copia del DataFrame originale

Mounted at /content/drive

## 2. Sviluppo del Modello

### 2.1. Pulizia e Pre-processing dei Dati

#### a) Rimozione dei duplicati

Durante l'ispezione iniziale del dataset è stata rilevata la presenza di 945 record con identificativo (`id`) duplicato. Dopo aver verificato che si trattasse effettivamente di righe identiche in tutte le colonne, e non di partite diverse erroneamente associate allo stesso ID, abbiamo proceduto alla rimozione delle righe ridondanti, mantenendo una sola istanza per ciascun ID univoco.

In [4]:
# Individuiamo gli ID che compaiono più di una volta
dup_ids = df['id'].value_counts()
dup_ids = dup_ids[dup_ids > 1]

print(f"Numero di ID duplicati: {len(dup_ids)}")

colonne_da_controllare = [c for c in df.columns if c != 'id']

identical_check = (
    df[df['id'].isin(dup_ids.index)]
    .groupby('id')[colonne_da_controllare]
    .nunique()
    .max(axis=1)
)

identical_check.value_counts()

Numero di ID duplicati: 813

2    516
1    297
Name: count, dtype: int64

In [5]:
# Notiamo che alcune righe (516) non condividono valori identici per tutte le colonne, verifichiamo perché:
id_problematici = identical_check[identical_check > 1].index

df[df['id'].isin(id_problematici)] \
  .groupby('id')[colonne_da_controllare] \
  .nunique() \
  .head()

# Le colonne non identiche sono quelle di inizio e fine partita, dunque il problema
# è probabilmente dovuto a un problema di datatype o di misurazione nel dataset.
# Le partite sono semanticamente identiche.
# Possiamo quindi procedere con la rimozione dei duplicati.

df = df.drop_duplicates(subset='id').reset_index(drop=True)

b) *Eliminazione delle colonne del dataframe non necessarie*:
Saranno certamente ininfluenti gli ID dei giocatori, ID della partita e il nome dell'apertura (prediligeremo usare il più rigoroso opening ECO).
Il discorso è più complicato per quanto riguarda le mosse. Intuitivamente per valutare il livello di un giocatore queste sarebbero fondamentali, tuttavia, almeno per il modello baseline, proveremo a fare le nostre valutazioni senza prenderle in considerazione.

In [6]:
df = df.drop(columns=['white_id','black_id','id','opening_name','moves'])

c) *Trasformazione delle colonne di inizio e fine partita in una colonna di durata*

In [7]:
#Ora convertiamo le colonne di inizio e fine partita, che sono in formato Unix time, in formato datetime
#Dopodichè inseriremo una più semplice colonna di durata partita al posto delle due colonne iniziali

df_times = df[['created_at','last_move_at']].copy()

df_times['created_at_dt'] = pd.to_datetime(df_times['created_at']/1000, unit='s', origin='unix')

df_times['last_move_at_dt'] = pd.to_datetime(df_times['last_move_at']/1000, unit='s', origin='unix')

df_times['created_time'] = df_times['created_at_dt'].dt.time
df_times['last_move_time'] = df_times['last_move_at_dt'].dt.time
df_times['duration_seconds'] = (df_times['last_move_at_dt'] - df_times['created_at_dt']).dt.total_seconds()

#Adesso che abbiamo la durata della partita in secondi, inseriamo la colonna nel dataframe e rimuoviamo quelle iniziali

df=df.drop(columns=['created_at','last_move_at'])
df=df.join(df_times['duration_seconds'])

#Ora invece ci occupiamo della colonna 'increment_code', che è della forma "X+Y"
#dove X sono i minuti concessi a ciascun giocatore per giocare le proprie mosse e Y
#è il tempo che gli viene riaggiunto una volta giocata la mossa.
#Vogliamo separare questi due valori e tenerli in colonne separate

#Split di increment_code in due colonne
df[['base_time', 'increment_time']] = (
    df['increment_code'].str.split('+', expand=True).astype(int))

#Rimuoviamo la colonna originale
df = df.drop(columns=['increment_code'])

df.tail(50)

,rated,turns,victory_status,winner,white_rating,black_rating,opening_eco,opening_ply,duration_seconds,base_time,increment_time
19063,True,119,draw,draw,2049,1895,D31,5,1895.975,15,5
19064,True,118,resign,black,1798,2044,B07,2,2231.065,15,5
19065,True,58,resign,black,2001,2030,B07,4,1819.828,15,5
19066,True,60,resign,black,1980,2017,A03,2,629.199,5,5
19067,True,63,outoftime,white,2010,1781,A49,5,813.539,5,5
19068,True,87,outoftime,white,1998,1920,E20,8,782.868,5,5
19069,True,50,resign,black,1684,1993,D02,5,488.695,7,2
19070,True,29,resign,white,1989,1653,D19,15,315.656,7,2
19071,True,46,mate,black,1838,1979,B09,10,409.982,7,2
19072,True,41,mate,white,1972,1718,D31,6,277.190,7,2
19073,True,35,mate,white,1787,1862,B96,14,261.206,10,0
19074,True,44,resign,black,1722,1855,B20,3,292.514,10,0
19075,True,45,mate,white,1871,1866,B90,11,395.686,10,0
19076,True,56,resign,black,1876,1913,E67,12,781.052,10,0
19077,True,37,mate,white,2049,1882,B87,14,638.497,30,30
19078,True,107,resign,black,1893,1902,A15,2,900.517,10,0
19079,True,118,mate,black,1713,1887,B20,3,692.791,10,0
19080,True,37,resign,white,1882,1683,A15,3,312.690,10,0
19081,True,80,resign,black,1822,1872,B50,4,679.066,10,0
19082,True,47,mate,white,1842,1885,B21,5,662.907,10,0
19083,True,115,mate,white,1878,1720,A10,2,734.675,10,0
19084,True,37,resign,black,1890,1866,A11,2,276.572,15,15
19085,True,82,resign,black,1876,1879,A42,5,1628.447,15,15
19086,True,50,mate,black,1267,1616,A16,4,4823.888,45,45
19087,False,53,mate,white,1253,1267,B07,5,950.883,15,15
19088,False,36,resign,black,1267,1253,A40,2,540.610,15,15
19089,True,100,draw,draw,1258,1620,A28,6,5901.800,45,45
19090,True,59,resign,white,1427,1265,B07,5,742.457,10,0
19091,True,43,mate,white,1247,1436,A21,3,606.577,10,0
19092,True,32,mate,black,1156,1238,B07,2,400.549,10,0
19093,True,36,resign,black,1247,1359,A21,4,1081.927,15,15
19094,True,57,resign,white,1550,1250,C52,10,4977.270,45,45
19095,True,87,resign,black,1261,1461,E20,6,816.729,10,10
19096,True,58,mate,black,1263,1770,D00,3,574.836,10,10
19097,True,53,resign,white,1759,1265,B07,8,752.869,10,10
19098,True,11,resign,white,1252,1290,A16,4,165.320,10,10
19099,True,37,mate,white,1523,1256,C02,5,635.356,10,10
19100,True,70,resign,white,1246,1201,B22,3,4042.192,45,45
19101,True,36,mate,black,1250,1235,B07,4,225.321,10,10
19102,True,73,mate,white,1222,1262,A10,2,884.228,10,10
19103,True,25,resign,white,1252,1233,C01,5,257.687,10,10
19104,True,43,mate,white,1328,1252,C00,5,416.346,10,0
19105,True,9,outoftime,white,1243,1142,A20,2,50.320,10,0
19106,True,58,mate,black,1237,1231,C00,3,746.494,10,10
19107,True,37,resign,white,1219,1250,A40,4,588.767,10,10
19108,True,24,resign,white,1691,1220,A80,2,321.734,10,10
19109,True,82,mate,black,1233,1196,A41,2,744.219,10,0
19110,True,35,mate,white,1219,1286,D00,3,172.834,10,0
19111,True,109,resign,white,1360,1227,B07,4,946.699,10,0
19112,True,78,mate,black,1235,1339,D00,3,736.699,10,0

d) Gestione delle variabili categoriche:

- Iniziamo occupandoci dell'opening ECO. Questo è un sistema complesso. Per i nostri scopi sarà sufficiente sapere che classifica le aperture in cinque grandi famiglie:
A -> Aperture atipiche; B -> Sistemi semiaperti; C -> Partite di Re aperte e Francesi;  D -> Partite di Donna;                             E -> Difese Indiane.    
Questa è un'approsimazione ma ci consente di creare comunque dei dummy ristretti ma informativi riguardo al tipo di apertura giocata.

In [11]:
# Opening ECO semplificato

df['opening_category'] = df['opening_eco'].str[0]
df = df.drop(columns=['opening_eco'])

colonne_categoriali = ['rated', 'victory_status', 'winner', 'opening_category']

df = pd.get_dummies(df, columns=colonne_categoriali, dtype=int, drop_first=False)

KeyError: 'opening_eco'